[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "editors/zed/grammars/pseudocode"]
	path = editors/zed/grammars/pseudocode
	url = https://github.com/mtmatt/tree-sitter-pseudocode
